// Borders
$border: 1px solid #000;


// Colours
$c-background-board: #EBEBE0;
$c-background-square: #fff;
$c-prop-brown: #8B4513;
$c-prop-skyblue: #87CEEB;
$c-prop-pink: #FF69B4;
$c-prop-orange: #FFA500;
$c-prop-red: #FF0000;
$c-prop-yellow: #FFFF00;
$c-prop-green: #008000;
$c-prop-darkblue: #0000FF;

//  Sizes
$edge-long: 90px;
$edge-short: 60px;