.prop-features {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.stats-button {
    background-color: white;
    color: black;
    border: 2px solid black;
    width: 120px;
    height: 35px;
    font-size: 12px;
    border-radius: 12px;
    box-shadow: 0 9px #999;
    cursor: pointer;
    outline: none;
}

.stats-button:hover {
    background-color: black;
    color: white;
}
  
.stats-button:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}